.label {
	margin-bottom: 3px;
}

.indent {
	margin-bottom: 10px;
}

.solution_gik .input-box-text,
.solution_gik .calendar{
	display: inline-block;
}

.solution_gik .input-box-text {
	margin-right: 15px;
}