.date-box {
	width: 100px;
	height: 20px;
	border: 1px solid #777;
}

.filterDate .inliner {
	display: inline-block;
}

.filterDate .inliner:not(:last-child) {
	margin-right:  20px;
}

.filterDate .inliner .label{
	margin-right: 5px;
}

.filterDate .inliner > * {
	vertical-align: middle;
	display: inline-block;
}



.date-field {
	display: flex;
	height: auto;
}


.date-field.all-width {
	float: left;
    width: 100%;
	align-items: center;
}

.date-field.all-width > p {
	text-align: left;
}

.date-field.all-width > *:first-child {
	width: 200px;
}

.date-field.all-width > *:not(:last-child) {
	margin-right: 10px; 
}


.date-field.range{
	flex-direction: column; 
}

.date-field.range > *{
	width: 90%;
	text-align: center;
}