#modalform {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}

.form-shadow {
	position: absolute;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: gray;
	opacity: 0.5;
}

.form-input {
	position: absolute;
	z-index: 1001;
	width: 768px;
	max-height: 96vh;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	box-shadow: 0 0 25px #333;
	background-color: #fcfcfc;
	color: #000;
	font-family: 'Tahoma','Arial';
	font-size: 12px;
	font-weight: normal;
}

.form-content {
	width: 100%;
	padding: 20px;
	float: left;
}

.buttomsbar {
	width: 100%;
	padding: 10px;
	float: left;
	text-align: right;
}

.form-button:not(:first-child) {
	margin-left: 10px; 
}

.input-box {
	margin-bottom: 20px;
}

.inline {
	display: inline-block;
}
