#modalform {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}

.form-shadow {
	position: absolute;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: gray;
	opacity: 0.5;
}

.form-box-t {
	position: absolute;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    display: table;
}

.form-box-c {
	width: 100%;
	height: 100%;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.form-body {
	width: 768px;
	max-height: 96vh;
	border-radius: 5px;
	box-shadow: 0 0 25px #333;
	background-color: #f0f0f0;
	color: #000;
	display: inline-block;
    text-align: left;
	font-family: 'Tahoma','Arial';
	font-size: 12px;
	font-weight: normal;
}

.form-content {
	width: 100%;
	padding: 20px;
	float: left;
}





.buttomsbar {
	width: 100%;
	float: left;
	text-align: right;
}

.form-button:not(:first-child) {
	margin-left: 10px; 
}

.inline {
	display: inline-block;
}

.input-label {
	
}

.last_editor {
	color: #777;
	font-size: 9px;
}

p.err {
	font-size: 10px;
	color: #f00;
}

input.err,
select.err {
	box-shadow: 0 0 5px rgba(255,0,0,1);
}
