.controlLayer {
	width: 100%;
	/*height: 50px;*/
	float: left;
	padding: 5px;
	background-color: #fff;
	border-bottom: 1px solid #777; 
}

.controlLayer:not(:last-child) {
}

.controlLayer.check {
	background-color: #dfd;
}

.controlLayer .box-color {
	width: 30px;
	height: 30px;
	float: left;
	border-radius: 5px;
	border: 1px solid #333;
}

.controlLayer input[type='checkbox'] {
	float: left;
	margin-left: -2px;
	margin-top: -2px;
}

.controlLayer h3 {
	float: left;
	margin-left: 10px;
}

.controlLayer input[type='range'] {
	width: 100%;
}

.controlLayer button {
	width: 100%;
	height: 20px;
	float: left;
}
